.navbar .navbar-brand{
	color: #1cd3fc;
	font-size: 40px;
}

.navbar-collapse .navbar-nav .nav-link{
	color: #1cd3fc;
	text-transform: uppercase;
}

.navbar{
	border-bottom: 2px #1cd3fc solid; 
}

.btn-info {
	background: linear-gradient(to right,#1cd3fc, #62f5e9);
	color: #fff;
	text-transform: uppercase;
	border: none; 
}

.card-login{
	background: linear-gradient(to right,#1cd3fc, #62f5e9);
	color: #fff;
	height: 100%;
}

.btn-login{
	width: 100px;
}

.list-group .list-group-item{
	border: none;
	margin-left: -15px;
}

.navbar-toggler{
	border: none;
}
.fa.fa-navicon {
  color:#1cd3fc;
}
.fa-search, .fa-check-square, .fa-download{
  color:#1cd3fc !important;	
}

.tron{
 background: linear-gradient(to right,#1cd3fc, #62f5e9) !important;
}


.list-group .list-group-item{
 padding: 0px !important;
 margin-left: 0px !important;
}

.form-register{
 color:#1cd3fc !important;	
}

.research{
	border: #1cd3fc solid 1px !important;
}

.term{
	position: fixed;
	z-index: 999;
	background: #1cd3fc;
	top: 0;
	width: 100%;
	transition: 3s;
}

.term .term-content{
	padding:50px;
	color: #fff;
}

.term .term-content button{
	background: #fff;
	border: 1px solid #1cd3fc;
	color: #1cd3fc;
}

.close{
	transition: 1.5s;
	top: -100;
}

.cookie{
	position: fixed;
	background:#fff;
	bottom: 0;
	width: 75%;
	 left: 50%;
    transform: translateX(-50%);
	transition: 3s;
}

.cookie .cookie-content{
	color: #000;
}

.close-cookie{
	transition: 1.5s;
	left: -100;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}